*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    font-size: 2rem;
    background-color: #081b31;
    color: white;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
   background-color: black;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#user-score,
#comp-score{
   font-size: 4rem;
}

.score-board{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 4rem;
}

.msg-container{
    margin-top: 50px;
}

#msg{
    color: white;
    background-color: black;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}
